
<form method="post" action="route/login_validation" class="loginForm">
    <div class="msg">
        <h3>LOG IN </h3>
    </div>
    <br>
    <div class="forms">
        <div class="email">
            <span ><img src="/img/user.svg" width="3%" height="3%" alt=""></span>
            <input type="email" required name="user_email" placeholder="Email">
        </div>
        <div class="pass">
            <span><img src="/img/key.svg" width="3%" height="3%" alt=""></span>
            <input type="password" required name="user_password" placeholder="Password">
        </div>
        <div class="submit-btn">
            <button type="submit" class="btn  btn-lg btn-block" id="login-btn">GET STARTED</button>
        </div>
        <div class="options">
            <a href="/register/"><h6>CREATE ACCOUNT</h6> </a>
            <a href="#blog" class="fp"><h6 >Forgot Password?</h6> </a>
        </div>
    </div>
</form>
