<div class="form-group">
    <select id="selectedOption" name="rep_title">
        <option class="option" value="">Your Title</option>
        <option class="option" value="Founder">Founder</option>
        <option class="option" value="Manager">Manager</option>
        <option class="option" value="Secretary">Secretary</option>
        <option class="option" value="other">Other</option>
    </select>
    <span class="select-btn">
        <i class="zmdi zmdi-chevron-down"></i>
    </span>
</div>

<div class="form-group">
    <input class="input-bar" type="text" 
        id="rep-name"
        name="rep_name" required 
        class="company_name"
        placeholder="Your name (as representator)">
</div>

<div class="form-group">
    <input class="input-bar" type="text" 
        id="rep-number" 
        name="rep_number"
        required placeholder="Your Phone Number">
</div>
<div class="form-group">
    <input class="input-bar" type="text" 
        id="com-name"
        name="com_name" required class="company_name"
        placeholder="Company Name">
</div>
<div class="form-group">
    <input class="input-bar" type="email"
        id="com-email" name="com_email"
        required class="company_name" placeholder="Email">
</div>
<div class="form-group">
    <input class="input-bar" type="text" 
        id="hq-location" name="hq_location"
        required placeholder="HQ Location">
</div>
<div class="form-group">
    <input class="input-bar" type="text"
        id="com-number" name="com_number"
        required placeholder="Phone Number">
</div>
<div class="form-group">
    <input class="input-bar" type="text"
        id="reg-number" name="reg_number"
        required placeholder="Registration number">
</div>
<div class="form-group">
    <input class="input-bar" type="text"
        id="com-service" name="com_service"
        required placeholder="Type of service">
</div>
<div class="form-group" class = "errPassword">
    <input class="input-password" type="password" 
        id="com-password"
        name="com_password" required="true"
        placeholder="Password"> 
        <button type="button" id="show_password"
        class="i-p-btn"><span><img src="/img/eye.svg" alt=""></span>
        </button>
</div>
<div class="form-group" class="errPassword">
    <input class="input-password" type="password" 
        id="com-password2"
        name="com_password2"
        required="true"
        placeholder="Confirm Password">
        <button type="button" id="confirm_password"
        class="i-p-btn"><span><img src="/img/eye.svg" alt=""></span></button>
</div>

