.nav-text-color{
    color: rgb(167, 106, 58);
    font-size: larger;
}
#tab1{
    padding-top: 2.5%;
    width: 100%;
}
#first-tab-group{
    border: 1px solid rgb(167, 106, 58);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.regWrapper{
    display: inline-flex;
    width: 100%;
}

.bgimage{
    background-image: url(../img/stones.jpg);
}
.bgimage-scnd{
    background-image: url(../img/stones1.jpg);
}
.bgimage , .bgimage-scnd{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;    
}
.form-container{
    width: 50%;
  }
.form-row{
    display: inline-flex;
}
.form-row select{
    width: 417px;
    border: none;
    height: 60px;
    border-bottom: 0.5px solid #a7a7a7;
    outline: none;
    padding: 2.5% 2.5% 2.5% 1%;
}
.form-row-1{
    padding-right: 5%;
}
.form-row-1 input, .form-row-2 input{
    border: none;
    border-bottom: 0.5px solid #a7a7a7;
    outline: none;
    padding: 2.5% 2.5% 2.5% 1%;
    width: 200px;
    height: 60px;
}
.form-group .input-bar{
        border: none;
        border-bottom: 0.5px solid #a7a7a7;
        outline: none;
        padding: 2.5% 2.5% 2.5% 1%;
        height: 60px;
        width: 416px;
    
}
.input-password{
    border: none;
    border-bottom: 0.5px solid #a7a7a7;
    outline: none;
    padding: 2.5% 2.5% 2.5% 1%;
    height: 60px;
    width: 370px;
}
.form-group  input .i-p-btn{
    border: none;
    outline: none;
}
.i-p-btn{
color: rgb(167, 106, 58);
background-color: #fff;
border-color: #a7a7a7;
height: 60px;
border: none;
overflow: unset;
}
fieldset{
    padding-top: 1%;
}
fieldset button{
    border: 1px solid rgb(167, 106, 58);
    background-color: rgb(167, 106, 58);
    color: #ffff;
    padding:2.5%;
    width: 30%;
    border-radius: 25px;
    transition: all 0.3s;
}
fieldset button:hover{
    
    background-color: #fff;
    color: rgb(167, 106, 58);
    border: 1px solid rgb(167, 106, 58);
    
}
#animal-quote{
    position: relative;
    width: 100%;
    height: 350px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/colin-watts-7Ofg_Y-IJcA-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   
  
}
.content{
    width: 70%;
    align-items: center;
    position:center;
    height: 80%;
    padding-top: 5%;
    padding-left: 15%;
}
.content img{
    position: absolute;
    left: 70%;
    bottom: 70%;
}
.content h4{
    color: #fff;
    font-size: 25px;
}
.content span h3{
    color:rgb(255, 255, 255);
    font-weight: 100;
    border: 2px solid rgb(167, 106, 58);
    border-radius: 25px;
    padding: 1.5%;
    width:40%
}

@media (max-width: 1200px) {
    .form-row{
        display: list-item;
        list-style-type: none; ;
    }
    .form-row select{
        width: 300px;
    }
    .form-group .input-bar{
        width: 300px;
    }
    .input-password{
        width :260px;
    }
   
}