.nav-text-color{
    color: rgb(167, 106, 58);
    font-size: larger;
}
#tab1{
    padding-top: 2.5%;
    width: 100%;
}
#first-tab-group{

    background-color: #fff;
    box-shadow: rgb(179, 179, 179) 0px 0px 15px;  
    
}
.regWrapper{
    display: inline-flex;
    width: 100%;
}

.bgimage{
    background-image: url(../img/stones.jpg);
    border-radius: 20px
}
.bgimage-scnd{
    background-image: url(../img/stones1.jpg);
}
.bgimage , .bgimage-scnd{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;    
}
/* Forms*/
.form-container{
    width: 50%;
    padding-right: 2.5%;
  }
.form-row{
    display: inline-flex;
    width: 100%;
}

.form-row select{
    width: 417px;
    border: none;
    height: 60px;
    border-bottom: 0.5px solid #a7a7a7;
    outline: none;
    padding: 2.5% 2.5% 2.5% 1%;
}
.form-group{
        border: none;
        border-bottom: 0.5px solid #0d0121;
        width: 100%
    
}
.padded{
    margin-left: 5%;
}
.form-group input{
    border: none;
    width: 90%;
    padding: 5% 2.5% 2.5% 2.5%;
    outline: none;
}
.input-password{
    border: none;
    border-bottom: 0.5px solid #a7a7a7;
    outline: none;
    padding: 2.5% 2.5% 2.5% 1%;
    height: 60px;
    width: 370px;
}
.form-group  .i-p-btn{
    border: none;
    outline: none;
    float: right;
}
.i-p-btn{
color: rgb(167, 106, 58);
background-color: #fff;
border-color: #a7a7a7;
height: 60px;
border: none;
overflow: unset;
}
#submit-btn{
    padding-top: 1%;
}
#submit-btn button{
    border: 1px solid rgb(167, 106, 58);
    background-color: rgb(167, 106, 58);
    color: #ffff;
    padding:2.5%;
    width: 100%;
    border-radius: 25px;
    transition: all 0.3s;
}
#submit-btn button:hover{
    
    background-color: #fff;
    color: rgb(167, 106, 58);
    border: 1px solid rgb(167, 106, 58);
    
}
select{
    outline: none;
    border: none;  
    padding:5% 2.5% 2.5% 2.5%;
    -webkit-appearance: unset;
}
/*End Form*/

/* Animal Quote*/
#animal-quote{
    position: relative;
    width: 100%;
    height: 350px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/colin-watts-7Ofg_Y-IJcA-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   
  
}
.content{
    width: 70%;
    align-items: center;
    position:center;
    height: 80%;
    padding-top: 5%;
    padding-left: 15%;
}
.content #quote-img{
    height: 40%;
    width: 30%;
    position: absolute;
    left: 70%;
    bottom: 70%;
}
.content p{
    color: #fff;
    font-size: 2.1rem;
}
.content span h3{
    color:rgb(255, 255, 255);
    font-weight: 100;
    border: 2px solid rgb(167, 106, 58);
    padding: 1.5%;
    width:40%
}

/**/
/* Responsive*/
@media (max-width: 1200px) {
    .form-row{
        display: list-item;
        list-style-type: none; ;
    }
    .form-row select{
        width: 300px;
    }
    .form-group .input-bar{
        width: 300px;
    }
    .input-password{
        width :260px;
    }
   
}
@media(max-width: 1000px){
    .regWrapper{
        display: list-item;
        list-style-type:none ;
    }    
    .bgimage{
        display: none;
    }
    .form-container{
        width: 100%;
    }
}
@media(max-width: 800px){
    .content span h3{
    width:50%
    }
    #featured .item{
        display: list-item;
        list-style-type:none ;
        height: 500px;
    }
    #featured .item .image{
        width: 100%;
        height: 250px;
    }
    #featured .item .text-content{
        width: 100%;
        height: 200px;
    }
}
@media (max-width :780) {
    .content span h3{
        width:80%
        }
}
@media(max-width: 720px){
    .content{
        padding-left:5% ;
    }
    .content span h3{
        width:60%
        }
    .content #quote-img{
        object-fit: cover;
    }
}
@media (max-width: 480px){
    .content #quote-img{
        height: 40%;
        width: 30%;
        position: absolute;
        left: 70%;
        bottom: 67%;
    }
    .content{
        padding-top: 15%;
        width:100%;
        padding-left:5%
    }
    .content  h4{
        font-size: 20px;
    }
    .content span h3{
        width:70%
        }
}
    
@media (max-width:360px) {

    #animal-quote{
        height: 400px;
        justify-content: center;
    }
    .content #quote-img{
        height: 40%;
        width: 30%;
        position: absolute;
        left: 70%;
        bottom: 67%;
    }
    .content span {
        width:80%
        }
        .form-group input{
            width: 60%;
        }
}
@media (max-width:335px){
    .form-group input{
        width: 30%;
    }
}